Nifi/NiFi_Flow.json
{"flowContents":{"identifier":"724210b9-6db7-37b4-b60c-2277d385be4b","instanceIdentifier":"3c96699f-019c-1000-f752-b657705a7831","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"f8642975-eeea-37af-95f4-9047a78cae9c","instanceIdentifier":"91d3c1e8-019c-1000-2920-b44cca15fc71","name":"Batch Ingestion","comments":"","position":{"x":352.0,"y":-40.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3cef1f93-859b-3297-9e82-74fc8945fbf0","instanceIdentifier":"91d3fbaf-019c-1000-31cd-e9ef0ea7ad20","name":"GetFile-EGSN-5G","comments":"","position":{"x":200.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"10 sec","Input Directory":"/opt/nifi/data/egsn_5g","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"EGSN_5G.txt","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f8642975-eeea-37af-95f4-9047a78cae9c"},{"identifier":"4ff82b6a-e9cc-34c1-a594-55010ad7605f","instanceIdentifier":"aa7d59ad-019c-1000-cb18-27b2fbbd718d","name":"GetFile-EGSN","comments":"","position":{"x":200.0,"y":120.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"10 sec","Input Directory":"/opt/nifi/data/egsn","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"egsn_06.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f8642975-eeea-37af-95f4-9047a78cae9c"},{"identifier":"da006d12-35a3-378d-9d01-7c322cebe208","instanceIdentifier":"91d70ea5-019c-1000-9366-c4d1d77129d8","name":"UpdateAttribute","comments":"","position":{"x":800.0,"y":-56.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.24.0"},"properties":{"hdfs.path":"egsn_5g","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","stagingTable":"STG_EGSN_5G","schema.name":"EGSN_5G","Stateful Variables Initial Value":null},"propertyDescriptors":{"hdfs.path":{"name":"hdfs.path","displayName":"hdfs.path","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"stagingTable":{"name":"stagingTable","displayName":"stagingTable","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f8642975-eeea-37af-95f4-9047a78cae9c"},{"identifier":"8904813c-cb76-3244-988f-9c3abfa982c4","instanceIdentifier":"aa7f39fa-019c-1000-1f8a-7e58c3cb4857","name":"UpdateAttribute","comments":"","position":{"x":800.0,"y":120.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.24.0"},"properties":{"hdfs.path":"/data/djezzy/staging/egsn","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","stagingTable":"STG_EGSN","schema.name":"EGSN","Stateful Variables Initial Value":null},"propertyDescriptors":{"hdfs.path":{"name":"hdfs.path","displayName":"hdfs.path","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"stagingTable":{"name":"stagingTable","displayName":"stagingTable","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f8642975-eeea-37af-95f4-9047a78cae9c"},{"identifier":"a65d1fba-79f3-35c5-8558-71db951eab4e","instanceIdentifier":"aa7f5f61-019c-1000-fc4f-8b2745a0768f","name":"UpdateAttribute","comments":"","position":{"x":808.0,"y":296.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.24.0"},"properties":{"hdfs.path":"/data/djezzy/staging/cell_site","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","stagingTable":"STG_CELL_SITE","schema.name":"CELL_SITE","Stateful Variables Initial Value":null},"propertyDescriptors":{"hdfs.path":{"name":"hdfs.path","displayName":"hdfs.path","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"stagingTable":{"name":"stagingTable","displayName":"stagingTable","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f8642975-eeea-37af-95f4-9047a78cae9c"},{"identifier":"d8369136-e432-378b-bcc1-b0336331acd8","instanceIdentifier":"aa7d81fc-019c-1000-2f87-a6ecf211aa86","name":"GetFile-CELL-SITE","comments":"","position":{"x":200.0,"y":296.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"10 sec","Input Directory":"/opt/nifi/data/cell_site","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"cell_site.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f8642975-eeea-37af-95f4-9047a78cae9c"},{"identifier":"304fefc2-cb49-3916-8e41-8ac9fb0de10f","instanceIdentifier":"aa7e0b6d-019c-1000-d457-28235b70b079","name":"GetFile-OFR","comments":"","position":{"x":200.0,"y":472.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"10 sec","Input Directory":"/opt/nifi/data/ofr","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"OFR_06.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f8642975-eeea-37af-95f4-9047a78cae9c"},{"identifier":"ab5214a3-917e-372b-9992-e67606dd7b7c","instanceIdentifier":"aa7f8fd4-019c-1000-37e4-e8962b206a3f","name":"UpdateAttribute","comments":"","position":{"x":808.0,"y":472.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.24.0"},"properties":{"hdfs.path":"/data/djezzy/staging/ofr","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","stagingTable":"STG_OFR","schema.name":"OFR","Stateful Variables Initial Value":null},"propertyDescriptors":{"hdfs.path":{"name":"hdfs.path","displayName":"hdfs.path","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"stagingTable":{"name":"stagingTable","displayName":"stagingTable","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f8642975-eeea-37af-95f4-9047a78cae9c"}],"inputPorts":[],"outputPorts":[{"identifier":"f40b2278-3172-3113-a488-7d02e9326d8c","instanceIdentifier":"aaf3026f-019c-1000-f68c-7c57f81a660c","name":"success","position":{"x":1480.0,"y":192.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"f8642975-eeea-37af-95f4-9047a78cae9c"}],"connections":[{"identifier":"738f2460-55de-3721-9d36-4aeabe22bc8d","instanceIdentifier":"ab24dd5b-019c-1000-d320-ebd8b3790c36","name":"","source":{"id":"8904813c-cb76-3244-988f-9c3abfa982c4","type":"PROCESSOR","groupId":"f8642975-eeea-37af-95f4-9047a78cae9c","name":"UpdateAttribute","comments":"","instanceIdentifier":"aa7f39fa-019c-1000-1f8a-7e58c3cb4857"},"destination":{"id":"f40b2278-3172-3113-a488-7d02e9326d8c","type":"OUTPUT_PORT","groupId":"f8642975-eeea-37af-95f4-9047a78cae9c","name":"success","instanceIdentifier":"aaf3026f-019c-1000-f68c-7c57f81a660c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8642975-eeea-37af-95f4-9047a78cae9c"},{"identifier":"780ff25f-757f-33d6-84c4-d782aca210d9","instanceIdentifier":"aa7fd382-019c-1000-8908-cb43557577d8","name":"","source":{"id":"d8369136-e432-378b-bcc1-b0336331acd8","type":"PROCESSOR","groupId":"f8642975-eeea-37af-95f4-9047a78cae9c","name":"GetFile-CELL-SITE","comments":"","instanceIdentifier":"aa7d81fc-019c-1000-2f87-a6ecf211aa86"},"destination":{"id":"a65d1fba-79f3-35c5-8558-71db951eab4e","type":"PROCESSOR","groupId":"f8642975-eeea-37af-95f4-9047a78cae9c","name":"UpdateAttribute","comments":"","instanceIdentifier":"aa7f5f61-019c-1000-fc4f-8b2745a0768f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8642975-eeea-37af-95f4-9047a78cae9c"},{"identifier":"839d2cc6-9104-3813-a205-0043cf35d76e","instanceIdentifier":"aa7fc577-019c-1000-7b51-c17db7494907","name":"","source":{"id":"4ff82b6a-e9cc-34c1-a594-55010ad7605f","type":"PROCESSOR","groupId":"f8642975-eeea-37af-95f4-9047a78cae9c","name":"GetFile-EGSN","comments":"","instanceIdentifier":"aa7d59ad-019c-1000-cb18-27b2fbbd718d"},"destination":{"id":"8904813c-cb76-3244-988f-9c3abfa982c4","type":"PROCESSOR","groupId":"f8642975-eeea-37af-95f4-9047a78cae9c","name":"UpdateAttribute","comments":"","instanceIdentifier":"aa7f39fa-019c-1000-1f8a-7e58c3cb4857"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8642975-eeea-37af-95f4-9047a78cae9c"},{"identifier":"0cd77975-2498-3c4e-8716-4d9f2ff5d384","instanceIdentifier":"ab2cd7a9-019c-1000-482f-15f78af72898","name":"","source":{"id":"3cef1f93-859b-3297-9e82-74fc8945fbf0","type":"PROCESSOR","groupId":"f8642975-eeea-37af-95f4-9047a78cae9c","name":"GetFile-EGSN-5G","comments":"","instanceIdentifier":"91d3fbaf-019c-1000-31cd-e9ef0ea7ad20"},"destination":{"id":"da006d12-35a3-378d-9d01-7c322cebe208","type":"PROCESSOR","groupId":"f8642975-eeea-37af-95f4-9047a78cae9c","name":"UpdateAttribute","comments":"","instanceIdentifier":"91d70ea5-019c-1000-9366-c4d1d77129d8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8642975-eeea-37af-95f4-9047a78cae9c"},{"identifier":"94957141-ce44-3756-86bf-a39439814f2a","instanceIdentifier":"ab251578-019c-1000-6615-77284879e452","name":"","source":{"id":"ab5214a3-917e-372b-9992-e67606dd7b7c","type":"PROCESSOR","groupId":"f8642975-eeea-37af-95f4-9047a78cae9c","name":"UpdateAttribute","comments":"","instanceIdentifier":"aa7f8fd4-019c-1000-37e4-e8962b206a3f"},"destination":{"id":"f40b2278-3172-3113-a488-7d02e9326d8c","type":"OUTPUT_PORT","groupId":"f8642975-eeea-37af-95f4-9047a78cae9c","name":"success","instanceIdentifier":"aaf3026f-019c-1000-f68c-7c57f81a660c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8642975-eeea-37af-95f4-9047a78cae9c"},{"identifier":"b20c8a85-50e4-3de8-aa0f-946e007ca3bb","instanceIdentifier":"ab24d366-019c-1000-ff4c-af7fdbcf17d9","name":"","source":{"id":"da006d12-35a3-378d-9d01-7c322cebe208","type":"PROCESSOR","groupId":"f8642975-eeea-37af-95f4-9047a78cae9c","name":"UpdateAttribute","comments":"","instanceIdentifier":"91d70ea5-019c-1000-9366-c4d1d77129d8"},"destination":{"id":"f40b2278-3172-3113-a488-7d02e9326d8c","type":"OUTPUT_PORT","groupId":"f8642975-eeea-37af-95f4-9047a78cae9c","name":"success","instanceIdentifier":"aaf3026f-019c-1000-f68c-7c57f81a660c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8642975-eeea-37af-95f4-9047a78cae9c"},{"identifier":"c08d473e-c9d2-356f-b4c6-bf57c3a8551f","instanceIdentifier":"aa803760-019c-1000-0386-0448cfaeaefc","name":"","source":{"id":"304fefc2-cb49-3916-8e41-8ac9fb0de10f","type":"PROCESSOR","groupId":"f8642975-eeea-37af-95f4-9047a78cae9c","name":"GetFile-OFR","comments":"","instanceIdentifier":"aa7e0b6d-019c-1000-d457-28235b70b079"},"destination":{"id":"ab5214a3-917e-372b-9992-e67606dd7b7c","type":"PROCESSOR","groupId":"f8642975-eeea-37af-95f4-9047a78cae9c","name":"UpdateAttribute","comments":"","instanceIdentifier":"aa7f8fd4-019c-1000-37e4-e8962b206a3f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8642975-eeea-37af-95f4-9047a78cae9c"},{"identifier":"e2ff54cb-eda7-3fa1-a0d3-e0b2dc28aff4","instanceIdentifier":"ab24e9f0-019c-1000-7c50-d2454c5af351","name":"","source":{"id":"a65d1fba-79f3-35c5-8558-71db951eab4e","type":"PROCESSOR","groupId":"f8642975-eeea-37af-95f4-9047a78cae9c","name":"UpdateAttribute","comments":"","instanceIdentifier":"aa7f5f61-019c-1000-fc4f-8b2745a0768f"},"destination":{"id":"f40b2278-3172-3113-a488-7d02e9326d8c","type":"OUTPUT_PORT","groupId":"f8642975-eeea-37af-95f4-9047a78cae9c","name":"success","instanceIdentifier":"aaf3026f-019c-1000-f68c-7c57f81a660c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f8642975-eeea-37af-95f4-9047a78cae9c"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"fdef61e9-8bdb-3214-83a7-d62b47583aea","instanceIdentifier":"aba032c3-019c-1000-3740-c548a5ea0d26","name":"Stream Ingestion","comments":"","position":{"x":2328.0,"y":112.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"8171ad83-06d7-3edc-81b6-1275316731a4","instanceIdentifier":"462b61a5-019d-1000-6200-8a95966bb4d6","name":"SplitRecord","comments":"","position":{"x":-1096.0,"y":8.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Record Writer":"580f1fab-4cb5-3792-947a-0fce25a7f3e9","Record Reader":"df69a96a-4c89-348a-92c9-d7896c5f83e9","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fdef61e9-8bdb-3214-83a7-d62b47583aea"},{"identifier":"963aec03-d3fa-3b38-b335-9ce01973b5ae","instanceIdentifier":"d24b5f1f-019e-1000-89d7-81ee5cbf51b0","name":"SplitText","comments":"","position":{"x":-1712.0,"y":8.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1000"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fdef61e9-8bdb-3214-83a7-d62b47583aea"},{"identifier":"5eeaf58f-6cd3-32fc-89db-be7a9257732d","instanceIdentifier":"462b1090-019d-1000-ea76-efbe255d6142","name":"GetFile_Payment_Update","comments":"","position":{"x":-2024.0,"y":-240.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"10 sec","Input Directory":"/opt/nifi/data/TOPIC","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"payment_update.txt","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fdef61e9-8bdb-3214-83a7-d62b47583aea"},{"identifier":"d4ccf4ec-eb57-3bee-9682-b7a254b58a13","instanceIdentifier":"462ab2ae-019d-1000-65b3-deaf73431031","name":"SplitRecord","comments":"","position":{"x":-1112.0,"y":-680.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Record Writer":"580f1fab-4cb5-3792-947a-0fce25a7f3e9","Record Reader":"df69a96a-4c89-348a-92c9-d7896c5f83e9","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fdef61e9-8bdb-3214-83a7-d62b47583aea"},{"identifier":"9bde7206-da54-3ff6-9a09-7f1b0f2f267a","instanceIdentifier":"462a7ff4-019d-1000-9039-c3451d2bb25a","name":"GetFile_Customer_subscription","comments":"","position":{"x":-2032.0,"y":-456.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"10 sec","Input Directory":"/opt/nifi/data/TOPIC","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"customer_subscription.txt","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fdef61e9-8bdb-3214-83a7-d62b47583aea"},{"identifier":"e09e2bb5-df38-3741-ad3a-124bfb4b7740","instanceIdentifier":"648df86d-019d-1000-f43b-87f7fb78cbb2","name":"PublishKafkaRecord_2_6","comments":"","position":{"x":-808.0,"y":-240.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.24.0"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"580f1fab-4cb5-3792-947a-0fce25a7f3e9","bootstrap.servers":"kafka:29092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"20 sec","record-reader":"df69a96a-4c89-348a-92c9-d7896c5f83e9","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"120 secs","sasl.username":null,"use-transactions":"false","acks":"all","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"10 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"payment-update","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fdef61e9-8bdb-3214-83a7-d62b47583aea"},{"identifier":"47db800d-14f6-3d14-857f-9ff140580eb3","instanceIdentifier":"462d64f0-019d-1000-3aad-f64dcbd2716a","name":"PublishKafkaRecord_2_6","comments":"","position":{"x":-808.0,"y":-456.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.24.0"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"580f1fab-4cb5-3792-947a-0fce25a7f3e9","bootstrap.servers":"kafka:29092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"60 sec","record-reader":"df69a96a-4c89-348a-92c9-d7896c5f83e9","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"120 secs","sasl.username":null,"use-transactions":"false","acks":"all","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"10 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"customer-subscription","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fdef61e9-8bdb-3214-83a7-d62b47583aea"},{"identifier":"ac7747fb-3392-3cd0-96f4-ad54b36540a0","instanceIdentifier":"cb41244f-019e-1000-b6e4-b277bf6a919a","name":"SplitText","comments":"","position":{"x":-1712.0,"y":-680.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1000"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fdef61e9-8bdb-3214-83a7-d62b47583aea"},{"identifier":"45b40f1b-80f0-3a21-bc18-a334e81c2b19","instanceIdentifier":"019e1000-0699-122a-f7f0-9a26b33d80a5","name":"ControlRate","comments":"","position":{"x":-1392.0,"y":-240.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Maximum FlowFile Rate":null,"Time Duration":"1 min","Grouping Attribute":null,"Maximum Rate":"100","Rate Controlled Attribute":null,"Rate Control Criteria":"flowfile count","Maximum Data Rate":null},"propertyDescriptors":{"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fdef61e9-8bdb-3214-83a7-d62b47583aea"},{"identifier":"ae73e4ba-1f10-35e8-96db-558cc7b8744b","instanceIdentifier":"122a0699-019e-1000-bcb1-5aa86ab622f1","name":"ControlRate","comments":"","position":{"x":-1384.0,"y":-464.0},"type":"org.apache.nifi.processors.standard.ControlRate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Maximum FlowFile Rate":null,"Time Duration":"30 seconds","Grouping Attribute":null,"Maximum Rate":"1","Rate Controlled Attribute":null,"Rate Control Criteria":"flowfile count","Maximum Data Rate":null},"propertyDescriptors":{"Maximum FlowFile Rate":{"name":"Maximum FlowFile Rate","displayName":"Maximum FlowFile Rate","identifiesControllerService":false,"sensitive":false},"Time Duration":{"name":"Time Duration","displayName":"Time Duration","identifiesControllerService":false,"sensitive":false},"Grouping Attribute":{"name":"Grouping Attribute","displayName":"Grouping Attribute","identifiesControllerService":false,"sensitive":false},"Maximum Rate":{"name":"Maximum Rate","displayName":"Maximum Rate","identifiesControllerService":false,"sensitive":false},"Rate Controlled Attribute":{"name":"Rate Controlled Attribute","displayName":"Rate Controlled Attribute","identifiesControllerService":false,"sensitive":false},"Rate Control Criteria":{"name":"Rate Control Criteria","displayName":"Rate Control Criteria","identifiesControllerService":false,"sensitive":false},"Maximum Data Rate":{"name":"Maximum Data Rate","displayName":"Maximum Data Rate","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fdef61e9-8bdb-3214-83a7-d62b47583aea"},{"identifier":"5ce4c3a6-9e28-3da9-a1a0-b6b3d7bd3146","instanceIdentifier":"cb70ad7f-019e-1000-eb28-2d488fcf0a57","name":"LogAttribute","comments":"","position":{"x":-2152.0,"y":-872.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fdef61e9-8bdb-3214-83a7-d62b47583aea"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"02260be6-0822-3c67-8cc1-cc79067b6179","instanceIdentifier":"d24bf539-019e-1000-587c-1dbe3532a45c","name":"","source":{"id":"8171ad83-06d7-3edc-81b6-1275316731a4","type":"PROCESSOR","groupId":"fdef61e9-8bdb-3214-83a7-d62b47583aea","name":"SplitRecord","comments":"","instanceIdentifier":"462b61a5-019d-1000-6200-8a95966bb4d6"},"destination":{"id":"e09e2bb5-df38-3741-ad3a-124bfb4b7740","type":"PROCESSOR","groupId":"fdef61e9-8bdb-3214-83a7-d62b47583aea","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"648df86d-019d-1000-f43b-87f7fb78cbb2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fdef61e9-8bdb-3214-83a7-d62b47583aea"},{"identifier":"51777e80-792a-3781-8a9a-ee51cdd302a6","instanceIdentifier":"cb41d6af-019e-1000-2be9-33c11c396058","name":"","source":{"id":"9bde7206-da54-3ff6-9a09-7f1b0f2f267a","type":"PROCESSOR","groupId":"fdef61e9-8bdb-3214-83a7-d62b47583aea","name":"GetFile_Customer_subscription","comments":"","instanceIdentifier":"462a7ff4-019d-1000-9039-c3451d2bb25a"},"destination":{"id":"ac7747fb-3392-3cd0-96f4-ad54b36540a0","type":"PROCESSOR","groupId":"fdef61e9-8bdb-3214-83a7-d62b47583aea","name":"SplitText","comments":"","instanceIdentifier":"cb41244f-019e-1000-b6e4-b277bf6a919a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fdef61e9-8bdb-3214-83a7-d62b47583aea"},{"identifier":"ed74905d-1ce3-3c92-845c-2e2aa54b9d11","instanceIdentifier":"d24be1ba-019e-1000-9aa6-d3db61594e29","name":"","source":{"id":"45b40f1b-80f0-3a21-bc18-a334e81c2b19","type":"PROCESSOR","groupId":"fdef61e9-8bdb-3214-83a7-d62b47583aea","name":"ControlRate","comments":"","instanceIdentifier":"019e1000-0699-122a-f7f0-9a26b33d80a5"},"destination":{"id":"8171ad83-06d7-3edc-81b6-1275316731a4","type":"PROCESSOR","groupId":"fdef61e9-8bdb-3214-83a7-d62b47583aea","name":"SplitRecord","comments":"","instanceIdentifier":"462b61a5-019d-1000-6200-8a95966bb4d6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fdef61e9-8bdb-3214-83a7-d62b47583aea"},{"identifier":"0b03eb78-d829-302e-9161-a3f1cfe55bc3","instanceIdentifier":"cb437715-019e-1000-07ee-5bdc14fa5434","name":"","source":{"id":"ae73e4ba-1f10-35e8-96db-558cc7b8744b","type":"PROCESSOR","groupId":"fdef61e9-8bdb-3214-83a7-d62b47583aea","name":"ControlRate","comments":"","instanceIdentifier":"122a0699-019e-1000-bcb1-5aa86ab622f1"},"destination":{"id":"d4ccf4ec-eb57-3bee-9682-b7a254b58a13","type":"PROCESSOR","groupId":"fdef61e9-8bdb-3214-83a7-d62b47583aea","name":"SplitRecord","comments":"","instanceIdentifier":"462ab2ae-019d-1000-65b3-deaf73431031"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fdef61e9-8bdb-3214-83a7-d62b47583aea"},{"identifier":"904c621c-e13a-398b-aa95-c7b52a8b9cbc","instanceIdentifier":"cb43aa26-019e-1000-23d6-b3785cf2754d","name":"","source":{"id":"d4ccf4ec-eb57-3bee-9682-b7a254b58a13","type":"PROCESSOR","groupId":"fdef61e9-8bdb-3214-83a7-d62b47583aea","name":"SplitRecord","comments":"","instanceIdentifier":"462ab2ae-019d-1000-65b3-deaf73431031"},"destination":{"id":"47db800d-14f6-3d14-857f-9ff140580eb3","type":"PROCESSOR","groupId":"fdef61e9-8bdb-3214-83a7-d62b47583aea","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"462d64f0-019d-1000-3aad-f64dcbd2716a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fdef61e9-8bdb-3214-83a7-d62b47583aea"},{"identifier":"02519258-feee-317b-a533-490bf005b8eb","instanceIdentifier":"d24bb3ed-019e-1000-588b-aa02e1693853","name":"","source":{"id":"5eeaf58f-6cd3-32fc-89db-be7a9257732d","type":"PROCESSOR","groupId":"fdef61e9-8bdb-3214-83a7-d62b47583aea","name":"GetFile_Payment_Update","comments":"","instanceIdentifier":"462b1090-019d-1000-ea76-efbe255d6142"},"destination":{"id":"963aec03-d3fa-3b38-b335-9ce01973b5ae","type":"PROCESSOR","groupId":"fdef61e9-8bdb-3214-83a7-d62b47583aea","name":"SplitText","comments":"","instanceIdentifier":"d24b5f1f-019e-1000-89d7-81ee5cbf51b0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fdef61e9-8bdb-3214-83a7-d62b47583aea"},{"identifier":"04a7db9b-b3d8-3465-b547-eda3f892249e","instanceIdentifier":"cb4208df-019e-1000-35b6-656e8c18c44b","name":"","source":{"id":"ac7747fb-3392-3cd0-96f4-ad54b36540a0","type":"PROCESSOR","groupId":"fdef61e9-8bdb-3214-83a7-d62b47583aea","name":"SplitText","comments":"","instanceIdentifier":"cb41244f-019e-1000-b6e4-b277bf6a919a"},"destination":{"id":"ae73e4ba-1f10-35e8-96db-558cc7b8744b","type":"PROCESSOR","groupId":"fdef61e9-8bdb-3214-83a7-d62b47583aea","name":"ControlRate","comments":"","instanceIdentifier":"122a0699-019e-1000-bcb1-5aa86ab622f1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fdef61e9-8bdb-3214-83a7-d62b47583aea"},{"identifier":"55aee3bc-d040-3e8d-8a43-53e07ba8b216","instanceIdentifier":"d24bc8f5-019e-1000-56d5-3da7cfc6f50c","name":"","source":{"id":"963aec03-d3fa-3b38-b335-9ce01973b5ae","type":"PROCESSOR","groupId":"fdef61e9-8bdb-3214-83a7-d62b47583aea","name":"SplitText","comments":"","instanceIdentifier":"d24b5f1f-019e-1000-89d7-81ee5cbf51b0"},"destination":{"id":"45b40f1b-80f0-3a21-bc18-a334e81c2b19","type":"PROCESSOR","groupId":"fdef61e9-8bdb-3214-83a7-d62b47583aea","name":"ControlRate","comments":"","instanceIdentifier":"019e1000-0699-122a-f7f0-9a26b33d80a5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fdef61e9-8bdb-3214-83a7-d62b47583aea"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"}],"remoteProcessGroups":[],"processors":[{"identifier":"d2166c35-4575-3142-8b0c-36f150011ddf","instanceIdentifier":"ca11aad2-019c-1000-9fc5-62ca267a5c8e","name":"DeleteHDFS","comments":"","position":{"x":1008.0,"y":-40.0},"type":"org.apache.nifi.processors.hadoop.DeleteHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.24.0"},"properties":{"Hadoop Configuration Resources":"/opt/nifi/hadoop/core-site.xml,/opt/nifi/hadoop/hdfs-site.xml","kerberos-credentials-service":null,"Kerberos Keytab":null,"file_or_directory":"${hdfs.path}","Additional Classpath Resources":null,"Kerberos Principal":null,"kerberos-user-service":null,"Kerberos Relogin Period":"4 hours","recursive":"true"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"file_or_directory":{"name":"file_or_directory","displayName":"Path","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"recursive":{"name":"recursive","displayName":"Recursive","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"2b68a1bf-d868-3e86-9e22-0e02d4aa481e","instanceIdentifier":"c48912bf-019c-1000-af0c-cd797b501035","name":"LogAttribute","comments":"","position":{"x":552.0,"y":808.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Log prefix":null,"character-set":"windows-1252","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"94e7c1cc-f6f5-30c4-a3e9-09c6b22f5181","instanceIdentifier":"c4807ab5-019c-1000-712b-d6fc8dd93fe3","name":"PutHDFS_CELL_SITE","comments":"","position":{"x":1688.0,"y":488.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.24.0"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/opt/nifi/hadoop/core-site.xml,/opt/nifi/hadoop/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"writing-strategy":"writeAndRename","Kerberos Relogin Period":"4 hours","Directory":"/data/djezzy/staging/cell_site","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"0e08c5a0-d21d-357b-8ff9-31c388e4d929","instanceIdentifier":"019e1005-0699-122a-1e68-c82146820576","name":"ExecuteProcess","comments":"","position":{"x":1608.0,"y":104.0},"type":"org.apache.nifi.processors.standard.ExecuteProcess","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Command":"/opt/spark/bin/spark-submit","Redirect Error Stream":"false","Working Directory":"/opt/spark","Output MIME type":null,"Argument Delimiter":";","Batch Duration":null,"Command Arguments":"--class;com.djezzy.batch.BatchKpiJobMain;--master;spark://spark-master:7077;--deploy-mode;cluster;--jars;/spark/jars/hudi-jars/hudi-spark-bundle_2.11-0.10.0.jar,/spark/jars/hudi-jars/spark-avro_2.11-2.4.4.jar;--conf;spark.sql.hive.metastore.jars=/spark/jars/*;--conf;spark.sql.hive.metastore.version=1.2.1;--conf;spark.hadoop.hive.metastore.uris=thrift://hive-metastore:9083;--conf;spark.serializer=org.apache.spark.serializer.KryoSerializer;--conf;spark.sql.hive.convertMetastoreParquet=false;hdfs://docker-hive-namenode-1:8020/spark-jobs/batchkpi.jar"},"propertyDescriptors":{"Command":{"name":"Command","displayName":"Command","identifiesControllerService":false,"sensitive":false},"Redirect Error Stream":{"name":"Redirect Error Stream","displayName":"Redirect Error Stream","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output MIME type":{"name":"Output MIME type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Batch Duration":{"name":"Batch Duration","displayName":"Batch Duration","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 day","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"e9b38ea7-4a41-3035-8ba6-82e9f6c63b0f","instanceIdentifier":"c481a5c3-019c-1000-49df-56512a387fd2","name":"RouteOnAttribute","comments":"","position":{"x":1016.0,"y":176.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"CELL_SITE":"${stagingTable:equals('STG_CELL_SITE')}","Routing Strategy":"Route to Property name","EGSN_5G":"${stagingTable:equals('STG_EGSN_5G')}","OFR":"${stagingTable:equals('STG_OFR')}","EGSN":"${stagingTable:equals('STG_EGSN')}"},"propertyDescriptors":{"CELL_SITE":{"name":"CELL_SITE","displayName":"CELL_SITE","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"EGSN_5G":{"name":"EGSN_5G","displayName":"EGSN_5G","identifiesControllerService":false,"sensitive":false},"OFR":{"name":"OFR","displayName":"OFR","identifiesControllerService":false,"sensitive":false},"EGSN":{"name":"EGSN","displayName":"EGSN","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"e645bcd8-f4fd-3699-af40-43d861550d5e","instanceIdentifier":"aa8aba53-019c-1000-cdd6-7b2ebb5b4c80","name":"RetryFlowFile","comments":"","position":{"x":1504.0,"y":816.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retries_exceeded","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"c523afb1-b03c-3e2e-a10b-10b45ed41557","instanceIdentifier":"c4808c48-019c-1000-d353-17ce99fb57d9","name":"PutHDFS_OFR","comments":"","position":{"x":1240.0,"y":488.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.24.0"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/opt/nifi/hadoop/core-site.xml,/opt/nifi/hadoop/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"writing-strategy":"writeAndRename","Kerberos Relogin Period":"4 hours","Directory":"/data/djezzy/staging/ofr","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"d61a33d5-0838-33ba-9286-9f05ec8f0d62","instanceIdentifier":"9a66059b-019c-1000-ed6c-a740d2b6df0b","name":"PutHDFS_EGSN","comments":"","position":{"x":848.0,"y":488.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.24.0"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/opt/nifi/hadoop/core-site.xml,/opt/nifi/hadoop/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"writing-strategy":"writeAndRename","Kerberos Relogin Period":"4 hours","Directory":"/data/djezzy/staging/egsn","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"447232b3-9030-3e91-b399-8fe7ade1aa25","instanceIdentifier":"c48096c3-019c-1000-de57-572a985ca8b5","name":"PutHDFS_EGSN_5G","comments":"","position":{"x":472.0,"y":488.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.24.0"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/opt/nifi/hadoop/core-site.xml,/opt/nifi/hadoop/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"writing-strategy":"writeAndRename","Kerberos Relogin Period":"4 hours","Directory":"/data/djezzy/staging/egsn_5g","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"3f67b9c5-848d-3788-820e-f2f8cc79dfb5","instanceIdentifier":"ca0a1be7-019c-1000-9711-7a0a7d26a2d4","name":"","source":{"id":"d61a33d5-0838-33ba-9286-9f05ec8f0d62","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"PutHDFS_EGSN","comments":"","instanceIdentifier":"9a66059b-019c-1000-ed6c-a740d2b6df0b"},"destination":{"id":"2b68a1bf-d868-3e86-9e22-0e02d4aa481e","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"LogAttribute","comments":"","instanceIdentifier":"c48912bf-019c-1000-af0c-cd797b501035"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"f6680e74-8dbd-3b06-8484-be76d7198441","instanceIdentifier":"ca0a6186-019c-1000-9bed-18cb7a329528","name":"","source":{"id":"94e7c1cc-f6f5-30c4-a3e9-09c6b22f5181","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"PutHDFS_CELL_SITE","comments":"","instanceIdentifier":"c4807ab5-019c-1000-712b-d6fc8dd93fe3"},"destination":{"id":"2b68a1bf-d868-3e86-9e22-0e02d4aa481e","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"LogAttribute","comments":"","instanceIdentifier":"c48912bf-019c-1000-af0c-cd797b501035"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"80b5ca3e-ac28-3949-996f-b01a5cd62ca8","instanceIdentifier":"ca128f0b-019c-1000-4006-8d717d92a288","name":"","source":{"id":"d2166c35-4575-3142-8b0c-36f150011ddf","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"DeleteHDFS","comments":"","instanceIdentifier":"ca11aad2-019c-1000-9fc5-62ca267a5c8e"},"destination":{"id":"e9b38ea7-4a41-3035-8ba6-82e9f6c63b0f","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"RouteOnAttribute","comments":"","instanceIdentifier":"c481a5c3-019c-1000-49df-56512a387fd2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"973ccede-b267-349d-bbf8-280b8d68b12f","instanceIdentifier":"ca08ffe2-019c-1000-a5a4-e0883395cc78","name":"","source":{"id":"447232b3-9030-3e91-b399-8fe7ade1aa25","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"PutHDFS_EGSN_5G","comments":"","instanceIdentifier":"c48096c3-019c-1000-de57-572a985ca8b5"},"destination":{"id":"e645bcd8-f4fd-3699-af40-43d861550d5e","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"RetryFlowFile","comments":"","instanceIdentifier":"aa8aba53-019c-1000-cdd6-7b2ebb5b4c80"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"9fb44c60-95fd-3cb5-840b-cb88a8859438","instanceIdentifier":"c484c26a-019c-1000-81d6-19e0da04ac96","name":"","source":{"id":"e9b38ea7-4a41-3035-8ba6-82e9f6c63b0f","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"RouteOnAttribute","comments":"","instanceIdentifier":"c481a5c3-019c-1000-49df-56512a387fd2"},"destination":{"id":"94e7c1cc-f6f5-30c4-a3e9-09c6b22f5181","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"PutHDFS_CELL_SITE","comments":"","instanceIdentifier":"c4807ab5-019c-1000-712b-d6fc8dd93fe3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["CELL_SITE"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"94291c49-654d-371d-a86c-43214f49f2b5","instanceIdentifier":"c484d293-019c-1000-be9f-401de03749c4","name":"","source":{"id":"e9b38ea7-4a41-3035-8ba6-82e9f6c63b0f","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"RouteOnAttribute","comments":"","instanceIdentifier":"c481a5c3-019c-1000-49df-56512a387fd2"},"destination":{"id":"c523afb1-b03c-3e2e-a10b-10b45ed41557","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"PutHDFS_OFR","comments":"","instanceIdentifier":"c4808c48-019c-1000-d353-17ce99fb57d9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["OFR"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"956d3719-fe55-37a7-9759-2463bbcd765b","instanceIdentifier":"c484f7c5-019c-1000-88f7-67e6d241d8ad","name":"","source":{"id":"e9b38ea7-4a41-3035-8ba6-82e9f6c63b0f","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"RouteOnAttribute","comments":"","instanceIdentifier":"c481a5c3-019c-1000-49df-56512a387fd2"},"destination":{"id":"447232b3-9030-3e91-b399-8fe7ade1aa25","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"PutHDFS_EGSN_5G","comments":"","instanceIdentifier":"c48096c3-019c-1000-de57-572a985ca8b5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["EGSN_5G"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"405eed2e-3b03-3e59-b441-99af0fab3768","instanceIdentifier":"ca14fe92-019c-1000-1847-8ba22af6a5c7","name":"","source":{"id":"f40b2278-3172-3113-a488-7d02e9326d8c","type":"OUTPUT_PORT","groupId":"f8642975-eeea-37af-95f4-9047a78cae9c","name":"success","instanceIdentifier":"aaf3026f-019c-1000-f68c-7c57f81a660c"},"destination":{"id":"d2166c35-4575-3142-8b0c-36f150011ddf","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"DeleteHDFS","comments":"","instanceIdentifier":"ca11aad2-019c-1000-9fc5-62ca267a5c8e"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"55069e35-44e9-3142-a6e7-978c261909fc","instanceIdentifier":"c484e475-019c-1000-8030-b5fe30a9320d","name":"","source":{"id":"e9b38ea7-4a41-3035-8ba6-82e9f6c63b0f","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"RouteOnAttribute","comments":"","instanceIdentifier":"c481a5c3-019c-1000-49df-56512a387fd2"},"destination":{"id":"d61a33d5-0838-33ba-9286-9f05ec8f0d62","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"PutHDFS_EGSN","comments":"","instanceIdentifier":"9a66059b-019c-1000-ed6c-a740d2b6df0b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["EGSN"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"d686e025-9437-3610-8751-5071cdd7efc8","instanceIdentifier":"ca0922ed-019c-1000-fa3f-33415c283663","name":"","source":{"id":"c523afb1-b03c-3e2e-a10b-10b45ed41557","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"PutHDFS_OFR","comments":"","instanceIdentifier":"c4808c48-019c-1000-d353-17ce99fb57d9"},"destination":{"id":"e645bcd8-f4fd-3699-af40-43d861550d5e","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"RetryFlowFile","comments":"","instanceIdentifier":"aa8aba53-019c-1000-cdd6-7b2ebb5b4c80"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"01e27e68-2b76-3dd6-a335-3bf0b88c1cd7","instanceIdentifier":"ca093310-019c-1000-84c9-2646e1510524","name":"","source":{"id":"94e7c1cc-f6f5-30c4-a3e9-09c6b22f5181","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"PutHDFS_CELL_SITE","comments":"","instanceIdentifier":"c4807ab5-019c-1000-712b-d6fc8dd93fe3"},"destination":{"id":"e645bcd8-f4fd-3699-af40-43d861550d5e","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"RetryFlowFile","comments":"","instanceIdentifier":"aa8aba53-019c-1000-cdd6-7b2ebb5b4c80"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"433787fb-a825-3dc1-8a10-3a7a89b16769","instanceIdentifier":"ca0a0961-019c-1000-0348-290da6585b4b","name":"","source":{"id":"447232b3-9030-3e91-b399-8fe7ade1aa25","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"PutHDFS_EGSN_5G","comments":"","instanceIdentifier":"c48096c3-019c-1000-de57-572a985ca8b5"},"destination":{"id":"2b68a1bf-d868-3e86-9e22-0e02d4aa481e","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"LogAttribute","comments":"","instanceIdentifier":"c48912bf-019c-1000-af0c-cd797b501035"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"0a99d0ca-6cbe-33aa-b580-3c466b02f852","instanceIdentifier":"ca090f29-019c-1000-1134-7430a9f117e1","name":"","source":{"id":"d61a33d5-0838-33ba-9286-9f05ec8f0d62","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"PutHDFS_EGSN","comments":"","instanceIdentifier":"9a66059b-019c-1000-ed6c-a740d2b6df0b"},"destination":{"id":"e645bcd8-f4fd-3699-af40-43d861550d5e","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"RetryFlowFile","comments":"","instanceIdentifier":"aa8aba53-019c-1000-cdd6-7b2ebb5b4c80"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"775573ed-1369-308c-bf15-97a7e01e3633","instanceIdentifier":"ca0a2f22-019c-1000-6649-f0a19baebbf4","name":"","source":{"id":"c523afb1-b03c-3e2e-a10b-10b45ed41557","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"PutHDFS_OFR","comments":"","instanceIdentifier":"c4808c48-019c-1000-d353-17ce99fb57d9"},"destination":{"id":"2b68a1bf-d868-3e86-9e22-0e02d4aa481e","type":"PROCESSOR","groupId":"724210b9-6db7-37b4-b60c-2277d385be4b","name":"LogAttribute","comments":"","instanceIdentifier":"c48912bf-019c-1000-af0c-cd797b501035"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"580f1fab-4cb5-3792-947a-0fce25a7f3e9","instanceIdentifier":"777c3e31-019d-1000-03bd-d1d9014fa184","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.24.0"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.24.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"af823c93-ebd5-3714-9f93-89cc8ae0fd7d","instanceIdentifier":"bfef3224-019c-1000-a125-7ebadec66ae8","name":"CSVReader_TAB","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.24.0"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":"\\t","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":"?","Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.24.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"df69a96a-4c89-348a-92c9-d7896c5f83e9","instanceIdentifier":"777df1d1-019d-1000-3b91-50f4de0b3154","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.24.0"},"properties":{"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"true"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.24.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"300cc83d-e5a5-3191-a59a-3bdf84f93f0d","instanceIdentifier":"bff265da-019c-1000-ec93-7e5c9fca967c","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.24.0"},"properties":{"schema-branch":null,"CSV Format":"custom","Quote Character":"\"","Include Header Line":"true","Value Separator":"${csv.delimiter}","schema-cache":null,"Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Schema Write Strategy":"schema-name","Null String":null,"Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","Quote Mode":"MINIMAL","Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.24.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"e9f87ead-cf57-30cd-a3ee-6c2e936fb9c3","instanceIdentifier":"3cb318ae-019c-1000-3e70-51a9ad8ac5c5","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.24.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.apache.hive.jdbc.HiveDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:hive2://hive-server:10000/default","dbcp-time-between-eviction-runs":"-1","Database User":"jupyter","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/hive-jdbc-3.1.3-standalone.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.24.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"cc10bf35-4aa5-3208-91f6-6e168da777a5","instanceIdentifier":"bfe61710-019c-1000-3a25-fdec2f6e2983","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"1.24.0"},"properties":{"CELL_SITE":"{\n\"type\": \"record\",\n\"name\": \"CELL_SITE\",\n\"namespace\": \"com.djezzy.lakehouse.raw\",\n\"fields\": [\n{\"name\": \"Cell_Site_ID\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"TECHNOLOGIE\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"BSC\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"CELL_NAME\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"Commune\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"Wilaya\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"Region\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"Code\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"Longitude\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"Altitude\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"CODE_COMMUNE\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"SITE_LOCATION\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"SUT_LOT\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"CODE_Wilaya\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"START_DATE\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"END_DATE\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"ID\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"UPDATE_DTTM\", \"type\": [\"null\", \"string\"], \"default\": null}\n]\n}","avro-reg-validated-field-names":"true","EGSN_5G":"{\n\"type\": \"record\",\n\"name\": \"EGSN_5G\",\n\"namespace\": \"com.djezzy.lakehouse.raw\",\n\"fields\": [\n{\"name\": \"File_id\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"recordType\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"servedIMSI\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"servedIMEI\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"userLocationInformation\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"lac\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"ci\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"cell_id\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"chargingID\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"accessPointNameNI\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"duration\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"causeForRecClosing\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"nodeID\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"servedMSISDN\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"Subs_Id\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"OFFERING_ID\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink0\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink0\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime0\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime0\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink1\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink1\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime1\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime1\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink2\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink2\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime2\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime2\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink3\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink3\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime3\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime3\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink4\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink4\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime4\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime4\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink5\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink5\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime5\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime5\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink6\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink6\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime6\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime6\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink7\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink7\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime7\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime7\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink8\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink8\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime8\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime8\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink9\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink9\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime9\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime9\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink10\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink10\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime10\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime10\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink11\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink11\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime11\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime11\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink12\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink12\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime12\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime12\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink13\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink13\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime13\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime13\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink14\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink14\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime14\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime14\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink15\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink15\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime15\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime15\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink16\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink16\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime16\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime16\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink17\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink17\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime17\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime17\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink18\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink18\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime18\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime18\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink19\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink19\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime19\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime19\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink20\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink20\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime20\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime20\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink21\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink21\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime21\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime21\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink22\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink22\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime22\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime22\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink23\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink23\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime23\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime23\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink24\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink24\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime24\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime24\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink25\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink25\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime25\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime25\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink26\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink26\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime26\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime26\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink27\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink27\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime27\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime27\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink28\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink28\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime28\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime28\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink29\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink29\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime29\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime29\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink30\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink30\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime30\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime30\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink31\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink31\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime31\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime31\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink32\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink32\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime32\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime32\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink33\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink33\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime33\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime33\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink34\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink34\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime34\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime34\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink35\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink35\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime35\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime35\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink36\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink36\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime36\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime36\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink37\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink37\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime37\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime37\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink38\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink38\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime38\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime38\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink39\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink39\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime39\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime39\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink40\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink40\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime40\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime40\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink41\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink41\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime41\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime41\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink42\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink42\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime42\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime42\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink43\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink43\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime43\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime43\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink44\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink44\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime44\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime44\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink45\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink45\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime45\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime45\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink46\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink46\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime46\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime46\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink47\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink47\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime47\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime47\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink48\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink48\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime48\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime48\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeUplink49\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeDownlink49\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANStartTime49\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"rANEndTime49\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"Insertion_Dt\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"File_Arriving_Date\", \"type\": [\"null\", \"string\"], \"default\": null}\n]\n}","OFR":"{\n\"type\": \"record\",\n\"name\": \"OFR\",\n\"namespace\": \"com.djezzy.lakehouse.raw\",\n\"fields\": [\n{\"name\": \"OFR_ID\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"OFR_DESC\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"TARIFF_PROFILE\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"CATEGORY\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"CUSTOMER_TYPE\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"SUBSCRIPTION_TYPE\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"PACKAGE_CODE\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"MAIN_TP\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"LINE_TYPE\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"OFR_STRT_DT\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"OFR_END_DT\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"OFR_STATUS\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"MAP_GROUP\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"Start_Ts\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"End_Ts\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"Start_Date\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"End_Date\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"Record_Deleted_Flag\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"Ctl_Id\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"File_Id\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"Process_Name\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"Process_Id\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"Update_Process_Name\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"Update_Process_Id\", \"type\": [\"null\", \"string\"], \"default\": null}\n]\n}\n\n","EGSN":"{\n\"type\": \"record\",\n\"name\": \"EGSN\",\n\"namespace\": \"com.djezzy.lakehouse.raw\",\n\"fields\": [\n{\"name\": \"file_id\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"Subs_id\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"Line_Id\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"CONTRNO\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"Offering_Id\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"servedIMSI\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"chargingID\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeGPRSUplink\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"dataVolumeGPRSDownlink\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"changeTime\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"duration\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"causeForRecClosing\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"recordSequenceNumber\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"servedMSISDN\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"servedIMEISV\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"LAC\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"CI\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"ratingGroup\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"timeUsage\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"datavolumeFBCUplink\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"datavolumeFBCDownlink\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"File_Arriving_Date\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"Insertion_Dt\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"timeOfFirstUsage\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"sgsnPLMNIdentifier\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"cell_id\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"serviceIdentifier_SE\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"serviceIdentifier_CS\", \"type\": [\"null\", \"string\"], \"default\": null},\n{\"name\": \"ipv6address\", \"type\": [\"null\", \"string\"], \"default\": null}\n]\n}"},"propertyDescriptors":{"CELL_SITE":{"name":"CELL_SITE","displayName":"CELL_SITE","identifiesControllerService":false,"sensitive":false},"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false},"EGSN_5G":{"name":"EGSN_5G","displayName":"EGSN_5G","identifiesControllerService":false,"sensitive":false},"OFR":{"name":"OFR","displayName":"OFR","identifiesControllerService":false,"sensitive":false},"EGSN":{"name":"EGSN","displayName":"EGSN","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.24.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"},{"identifier":"fa7f2bfc-e831-33e0-89d8-864b514e0c17","instanceIdentifier":"bfe40504-019c-1000-87ec-384bd1f8777e","name":"CSVReader_PIPE","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.24.0"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":"|","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":"?","Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":"cc10bf35-4aa5-3208-91f6-6e168da777a5","csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.24.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"724210b9-6db7-37b4-b60c-2277d385be4b"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}